//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 24 13:09:40 2015
//! **************************************************************************

SCHEMATIC START;
COMP "iCLK_50" LOCATE = SITE "P85" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P105" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "PMOD1<0>" LOCATE = SITE "P5" LEVEL 1;
PIN PMOD1<0>_pin<0> = BEL "PMOD1<0>" PINNAME PAD;
PIN "PMOD1<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PMOD1<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "PMOD1<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "PMOD1<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "PMOD1<4>" LOCATE = SITE "P88" LEVEL 1;
COMP "PMOD1<5>" LOCATE = SITE "P92" LEVEL 1;
COMP "PMOD1<6>" LOCATE = SITE "P93" LEVEL 1;
COMP "PMOD1<7>" LOCATE = SITE "P94" LEVEL 1;
TIMEGRP clknetwork_clkout0 = BEL "cnt_0" BEL "cnt_1" BEL "cnt_2" BEL "cnt_3"
        BEL "cnt_4" BEL "cnt_5" BEL "cnt_6" BEL "cnt_7" BEL "cnt_8" BEL
        "cnt_9" BEL "cnt_10" BEL "cnt_11" BEL "cnt_12" BEL "cnt_13" BEL
        "cnt_14" BEL "cnt_15" BEL "cnt_16" BEL "cnt_17" BEL "cnt_18" BEL
        "cnt_19" BEL "cnt_20" BEL "cnt_21" BEL "clknetwork/clkout1_buf";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN clknetwork/pll_base_inst/PLL_ADV_pins<2> = BEL
        "clknetwork/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP clk50_grp = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "clknetwork/pll_base_inst/PLL_ADV_pins<2>";
TS_PER_CLK50 = PERIOD TIMEGRP "clk50_grp" 20 ns HIGH 50%;
TS_clknetwork_clkout0 = PERIOD TIMEGRP "clknetwork_clkout0" TS_PER_CLK50 HIGH
        50%;
SCHEMATIC END;

